/* 
 * font-family: 'MontserratAlternates'
*/

@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-Thin.ttf");
  src: url("MontserratAlternates/MontserratAlternates-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-ThinItalic.ttf");
  src: url("MontserratAlternates/MontserratAlternates-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-ExtraLight.ttf");
  src: url("MontserratAlternates/MontserratAlternates-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-ExtraLightItalic.ttf");
  src: url("MontserratAlternates/MontserratAlternates-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-Light.ttf");
  src: url("MontserratAlternates/MontserratAlternates-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-LightItalic.ttf");
  src: url("MontserratAlternates/MontserratAlternates-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-Regular.ttf");
  src: url("MontserratAlternates/MontserratAlternates-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-Italic.ttf");
  src: url("MontserratAlternates/MontserratAlternates-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-Medium.ttf");
  src: url("MontserratAlternates/MontserratAlternates-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-MediumItalic.ttf");
  src: url("MontserratAlternates/MontserratAlternates-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-SemiBold.ttf");
  src: url("MontserratAlternates/MontserratAlternates-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-SemiBold.ttf");
  src: url("MontserratAlternates/MontserratAlternates-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-Bold.ttf");
  src: url("MontserratAlternates/MontserratAlternates-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-BoldItalic.ttf");
  src: url("MontserratAlternates/MontserratAlternates-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-ExtraBold.ttf");
  src: url("MontserratAlternates/MontserratAlternates-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-ExtraBoldItalic.ttf");
  src: url("MontserratAlternates/MontserratAlternates-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-Black.ttf");
  src: url("MontserratAlternates/MontserratAlternates-Black.ttf") format("truetype");
  font-weight: normal;
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("MontserratAlternates/MontserratAlternates-BlackItalic.ttf");
  src: url("MontserratAlternates/MontserratAlternates-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-weight: 900;
  font-style: italic;
}
