/* Mobile Portrait Size */
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .section-header {
    .section-header-card {
      margin-top: 7rem;
    }
    .section-header--scroll {
      display: none;
    }
  }
}
