/* Smaller than standard 992 */
@media only screen and (max-width: 991px) {
  .logo {
    display: inline-block;
    float: left;
  }

  .btn-menu {
    display: block;
  }

  .nav-wrap {
    position: relative;
  }

  #mainnav {
    display: none;
  }

  .top,
  .top .flat-questions {
    text-align: center;
  }

  .top .flat-socials,
  .top .flat-questions {
    float: none;
  }

  .flat-socials {
    display: none;
  }

  .top .col-md-6.text-right {
    padding-top: 20px;
  }

  .imagebox-item,
  .iconbox-item {
    margin-bottom: 30px;
  }

  .height80 {
    height: 0px;
  }

  .widget-infomation ul.infomation-footer li,
  .flat-list {
    margin-bottom: 15px;
  }

  .flat-infomation {
    float: none;
    margin-bottom: 20px;
  }

  .flat-iconbox.iconbox-style1,
  .flat-iconbox.iconbox-style2,
  .flat-iconbox.style-3 {
    margin-bottom: 40px;
  }

  .flat-iconbox.iconbox-style1 + .vc_empty_space,
  .flat-iconbox.iconbox-style2 + .vc_empty_space,
  .flat-iconbox.style-3 + .vc_empty_space {
    height: 0 !important;
  }

  .imagebox-image img,
  .page-wrap.sidebar-right .content-area,
  .page-wrap.sidebar-right .widget-area,
  .page-wrap.sidebar-left .widget-area,
  .page-wrap.sidebar-left .content-area,
  .flexslider .slides img,
  .page-wrap.sidebar-left .single-page .widget-area,
  .page-wrap.sidebar-right .single-page .widget-area,
  .page-wrap.sidebar-left .single-page .content-area,
  .page-wrap.sidebar-right .single-page .content-area {
    width: 100%;
  }

  .call-back-form,
  .page-wrap.sidebar-left .content-area,
  .footer-widgets #nav_menu-2 {
    padding-left: 0 !important;
  }

  .call-back-form,
  .page-wrap.sidebar-right .content-area,
  .page-wrap.sidebar-left .single-page .content-area,
  .page-wrap.sidebar-right .single-page .content-area {
    padding-right: 0 !important;
  }

  .flat-your-contact .contact-thumb {
    max-width: 100%;
  }

  .portfolio-filter li {
    padding: 0 10px;
  }

  .flat-portfolio .item,
  .flat-portfolio .one-four .item,
  .blog-grid.blog-four-columns article {
    width: 50%;
  }

  .comments-area ul.children {
    margin-left: 50px;
  }

  /* Header Style2 */
  .header.widget-header .logo {
    width: 25%;
  }

  .header.widget-header .wrap-widget-header {
    width: 65%;
  }

  /* Home layout 02 */
  .flat-single-images {
    position: relative;
    left: 0;
    top: auto;
    bottom: -89px;
  }

  .counter {
    text-align: center;
    margin-bottom: 40px;
  }

  .top .flat-questions {
    padding-left: 0;
    margin-bottom: 5px;
  }

  .header.widget-header {
    padding: 0 0 0;
  }

  .flat-team.team-grid {
    margin-bottom: 30px;
  }

  .flat-team.team-grid {
    text-align: center;
  }

  .flat-callback-form {
    padding-left: 0;
  }

  .flat-callback-form .flat-field {
    padding-right: 0;
  }

  #form-email-footer {
    width: 100%;
  }

  .flat-text-block-timeline .flat-timeline-content {
    padding-left: 15px;
  }

  .top.style2 .logo,
  .top.style2.v1 .logo {
    margin-top: 20px;
    line-height: 50px;
    float: none;
  }

  .top.style2 .flat-open-hours,
  .top.style2 .flat-address,
  .top.style2.v1 .flat-open-hours,
  .top.style2.v1 .flat-address {
    margin-top: 20px;
    width: 50%;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .header.style2 .show-search a {
    margin: 28px 0;
  }

  .header.style2.v1 {
    background-color: #3a526a;
  }

  .header.style2.v1 .flat-header-wrap {
    position: relative;
    bottom: 0;
    padding: 0;
  }

  .header.style3 {
    position: fixed;
    top: 0;
  }

  .header.style3 {
    background-color: $color-middle;
  }

  .header.style3 .show-search a i {
    color: #18ba60;
  }

  .top.style2.v1 {
    padding: 0;
  }

  .text-block-callback {
    text-align: center;
  }

  .iconbox.style3 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    float: none;
  }

  .flat-benefit {
    padding: 0 15px;
  }

  .benefit-image {
    margin-bottom: 50px;
  }

  article.post.style3 {
    width: 100%;
    float: none;
    overflow: hidden;
    margin-bottom: 30px;
  }

  article.post.style3 .content-post {
    overflow: visible;
  }

  article.post.style4 {
    margin-bottom: 40px;
  }

  .flat-imagebox.item {
    width: 50%;
    margin-bottom: 50px;
  }

  .flat-block-quote-slider .flex-control-nav {
    position: relative;
    padding-right: 0;
  }

  .testimonials-post .featured-post {
    margin-bottom: 20px;
  }

  .flexslider.s2,
  .flexslider.s1 {
    margin-bottom: 50px;
  }

  .wrap-main-post.about-v1,
  .wrap-main-post.about-v3 {
    padding: 0;
  }

  .wrap-button.s1 {
    margin-top: 0;
  }

  .sidebar.right {
    padding-left: 0;
  }

  .post-wrap {
    margin-bottom: 50px;
  }

  .form-info input[type="submit"] {
    margin-bottom: 30px;
  }

  .page-wrap.sidebar-left .widget-area,
  .page-wrap.sidebar-left .single-page .widget-area,
  .page-wrap.sidebar-right .widget-area {
    padding-top: 30px;
  }

  .flat-imagebox.style2 {
    padding: 50px 0 0;
  }

  .flat-iconbox,
  .pd-imagebox,
  .flat-owl-stage,
  .flat-callback,
  .flat-news,
  .pd-imagebox-s3,
  .flat-counter,
  .flat-testimonials,
  .flat-news-s2,
  .flat-iconbox.style2,
  .flat-progress-accordion,
  .pd-about-post,
  .pd-services-post,
  .pd-portfolio-s1,
  .pd-contact-v1,
  .pd-contact-v2 {
    padding: 50px 0;
  }

  .dividers.dividers-about-post,
  .dividers.dividers-imagebox {
    height: 50px;
  }

  .dividers-pagination {
    height: 0;
  }
}
