/* Mobile Portrait Size */
@media only screen and (max-width: 549px) {
  .flat-questions a.appointment {
    display: -webkit-inline-box;
  }

  .flat-questions a.questions {
    margin-right: 0;
  }

  .flat-infomation li.phone {
    border-right: none;
  }

  .flat-callback-form .flat-field {
    padding-right: 0;
  }

  .imagebox.style1 .imagebox-content .imagebox-button a {
    margin-top: 10px;
    padding: 10px 52px 10px 30px;
  }

  .widget-infomation ul.infomation-footer li,
  .flat-list {
    margin-right: 0;
  }

  .footer-bottom .menu-footer {
    float: none;
  }

  .footer-bottom .menu-footer li:last-child {
    display: block;
    text-align: center;
    margin-left: 0;
  }

  .testimonial-slider.style-2 .testimonial-image {
    max-width: 100%;
    margin: 0 0 0;
  }

  .flat-portfolio .item,
  .blog-shortcode.blog-list article {
    width: 100%;
  }

  .portfolio-filter li a {
    line-height: 45px;
  }

  article .entry-title {
    font-size: 18px;
  }

  .author-post .info {
    overflow: visible;
  }

  .author-post .author-avatar {
    margin-right: 10px;
    max-width: auto;
  }

  .comments-area ul.children {
    margin-left: 15px;
  }

  .top .flat-infomation ul li:after,
  .top .flat-questions:before {
    display: none;
  }

  .flat-imagebox .flat-imagebox-header .flat-imagebox-title,
  .page-template-tpl .vc_toggle_title > h4 {
    font-size: 13px;
  }

  .flat-imagebox .box-header {
    left: 0;
    bottom: 0;
    right: 0;
  }

  .flat-imagebox .box-header {
    padding: 18px 80px 10px 20px;
  }

  .testimonial-slider {
    padding: 0 15px 53px;
  }

  .block-quote .quote-content blockquote {
    padding: 80px 0 0 0;
  }

  .flat-team .team-image {
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }

  .flat-team .team-image img {
    width: 100%;
  }

  #text-5 {
    margin-bottom: 0;
  }

  .flat-portfolio .one-four .item,
  .flat-portfolio .one-half .item,
  .blog-grid.blog-four-columns article {
    width: 100%;
  }

  article .entry-meta ul li {
    padding-left: 17px;
    margin-right: 9px;
  }

  .flat-team.team-grid {
    margin-bottom: 30px;
  }

  .flat-before-footer .flat-infomation > div {
    margin-right: 0;
  }

  .page-template-front-page .wrap-header-style3 {
    padding: 0 15px;
  }

  .testimonial-slider.style-2 .testimonial-image {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .flat-imagebox .box-content {
    padding: 15px;
  }

  .flat-imagebox .flat-imagebox-button {
    margin-top: 0;
  }

  .flat-imagebox .flat-imagebox-button a {
    padding: 9px 52px 8px 14px;
  }

  .flat-imagebox .flat-imagebox-button a:after {
    top: 9px;
  }

  .footer-bottom .copyright,
  .widget-custom-menu {
    text-align: center;
  }

  .footer-bottom .copyright {
    margin-bottom: 20px;
  }

  .footer-bottom p,
  #menu-bottom li {
    line-height: normal;
  }

  article.post.style3 .featured-post {
    float: none;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .flat-accordion .toggle-title {
    font-size: 14px;
  }

  .page-title .breadcrumbs {
    float: left;
  }

  .page-title .page-title-heading {
    float: none;
  }

  .entry-post-title ul.entry-meta li {
    margin-left: 0;
  }

  .top.style2 .flat-open-hours,
  .top.style2 .flat-address,
  .top.style2.v1 .flat-open-hours,
  .top.style2.v1 .flat-address,
  .flat-imagebox.item {
    width: 100%;
  }

  .section-header {
    .section-header-card {
      margin-top: 7rem;
      h1,
      p {
        font-size: 3rem;
      }
    }
  }
}
