/* Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1366px) {
  .flat-testimonials-post .owl-controls {
    display: none;
  }
}

/* Smaller than standard 1200 */
@media only screen and (max-width: 1199px) {
  .widget-infomation ul.infomation-footer li,
  .flat-list {
    margin-bottom: 15px;
  }

  .flat-benefit {
    padding: 96px 0px 0;
  }

  article.post.style3 .content-post {
    overflow: visible;
  }
}
