/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
  .top .col-md-6.text-right {
    padding-top: 5px;
  }

  .flat-questions a.appoinment {
    margin: 0 5px;
  }

  .flat-callback-form .flat-field .field-one-half,
  article.post.s1,
  article.post.s1 .featured-post img,
  article.post.style2 .featured-post img,
  article.post.style4 .featured-post img {
    width: 100%;
  }

  article.post.style2 {
    margin-bottom: 40px;
  }

  .flat-callback-form .flat-field .field-one-half select {
    margin-bottom: 0;
  }

  .footer-widgets .widget.widget_nav_menu {
    padding-left: 0;
  }

  #menu-bottom li a {
    padding-left: 0;
    padding-right: 20px;
  }

  .author-post .info {
    padding: 15px;
  }

  .flat-portfolio-single-slider {
    margin-top: 30px;
  }

  .flat-portfolio-single-slider li img {
    width: 100%;
  }

  .single-portfolios .page-wrap {
    padding: 70px 0 30px;
  }

  article .wrap-entry-title,
  .comments-area ol.comment-list article .comment_content .comment_text {
    overflow: visible;
  }

  .comments-area ul.children {
    margin-left: 30px;
  }

  .wrap-widget-header {
    display: none;
  }

  .header.widget-header .logo {
    width: 100%;
  }

  .header.widget-header .btn-menu {
    top: -120px;
  }

  .page-title.pagetitle_style_2 .page-title-heading,
  .page-title.pagetitle_style_2 .breadcrumbs,
  .page-title.pagetitle_style_3 .page-title-heading,
  .page-title.pagetitle_style_3 .breadcrumbs {
    display: table;
    width: 100%;
    text-align: left;
  }

  .one-half {
    width: 100%;
  }

  .wrap-one-half.services {
    padding: 0 15px;
  }

  .wrap-one-half.services .one-half {
    padding: 0;
  }
}
