/* bootstrap resetting elements */

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-appearance: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: #000;
}

.blog-single .entry p {
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fonts-family;
  font-weight: 400;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}
h2 {
  font-size: 24px;
  line-height: 35px;
}
h3 {
  font-size: 16px;
  line-height: 20px;
}
h4 {
  font-size: 14px;
  line-height: 14px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}
