.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #f87b27;
  border-color: #f87b27;
  color: #ffffff !important;
  &:hover {
    background-color: #f84727;
    border-color: #f84727;
  }
}

.btn-link-noclick {
  pointer-events: none;
}
