/* Footer Bottom
---------------------------------------------------------------*/
.footer-bottom {
  border-top: 1px solid #394348;
  padding: 24px 0;

  .copyright {
    float: left;
    color: #ffffff;
    a {
      color: #e5e5e5;
      &:hover {
        color: #f87b27;
      }
    }
  }
  .menu-footer {
    float: right;
    @media only screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
    }
    li {
      display: inline-block;
      margin-left: 28px;
      a {
        color: #e5e5e5;
        &:hover {
          color: #f87b27;
        }
      }
    }
  }

  //
  .footer-menu {
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;

    @media only screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
    li {
      margin: 0 0.5em;
      padding: 0;
      a {
        color: #ffffff;
        &:hover,
        &:active,
        &:target {
          color: $color-primary;
        }
      }
    }
  }
}
