/* Header 
---------------------------------------------------------------*/
.header.fixed-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: $color-secondary;
  width: 100%;
}

/* Home Widget Header
-------------------------------------------------------------- */
.header {
  position: relative;
  background-color: $color-basic;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* Header Style2
-------------------------------------------------------------- */
.head_nav.fix {
  left: 0;
  max-width: 100%;
  overflow: visible;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header.style2 {
  background-color: $color-middle;
}

.header.style2 .nav-wrap {
  float: left;
  color: $color-basic;
}

.header.style2 #mainnav .menu > li > a {
  color: $color-basic;
  line-height: 65px;
}

.header.style2 #mainnav .menu > li > a:hover {
  color: $color-secondary;
}

.header.style2 #mainnav .menu > li:hover > .sub-menu {
  top: 65px;
}

.header.style2 .show-search {
  float: right;
  width: auto;
  margin-left: 0;
}

.header.style2 .show-search a {
  margin: 15px 0;
  background-color: transparent;
}

.header.style2 .show-search a i {
  font-size: 16px;
  position: relative;
  top: 2px;
}

/* Header Style2 v1
  -------------------------------------------------------------- */
.header.style2.v1 {
  background-color: transparent;
}

.header.style2.v1 .flat-header-wrap {
  background-color: $color-middle;
}

.header.style2.v1 .flat-header-wrap {
  position: absolute;
  padding: 0 40px;
  bottom: -32px;
  margin-bottom: 0;
  width: 100%;
  left: 0;
  z-index: 9999;
  background-color: $color-middle;
  transition: all 0.3s ease-in-out;
}

.header.style2.v1.fixed-header {
  box-shadow: none;
}

.header.style2.v1 .show-search a {
  margin: 12.5px 0;
}

.header.style2.v1 #mainnav .menu > li > a {
  line-height: 59px;
}

.header.style2.v1.fixed-header .flat-header-wrap {
  bottom: -59px;
}

/* Header Style3
  -------------------------------------------------------------- */
.header {
  &.style3 {
    position: fixed;
    left: 0;
    top: auto;
    width: 100%;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    box-shadow: none;
  }
  &.style3.fixed-header {
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: $color-basic;
    background-color: $color-secondary;
    box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.25);
  }

  &.style3 .show-search a {
    background-color: transparent;
  }
  #mainnav {
    ul {
      li {
        &:first-child {
          &::before {
            display: none;
          }
        }
        &:before {
          content: "";
          border-left: 1px solid rgba(255, 255, 255, 0.25);
          position: absolute;
          top: 0;
          bottom: 0;
          margin: 1.5em 0;
        }
      }
    }
  }

  &.style3 #mainnav > ul > li > a,
  &.style3 .show-search a i {
    font-size: 1.3rem;
    color: $color-basic;
    font-family: "Roboto";
    @media (max-width: 768px) {
    }
  }

  &.style3.fixed-header #mainnav > ul > li > a,
  &.style3.fixed-header .show-search a i {
    font-size: 1.2rem;
    color: $color-basic;
    line-height: 70px;
  }
}

/* Main Menu
---------------------------------------------------------------*/
.nav-wrap {
  float: right;
}

#mainnav {
  z-index: 9999;
  .menu {
    > li {
      display: inline-block;
      position: relative;
      > a {
        font-family: $fonts-family;
        font-size: 1.3em;
        font-weight: 300;
        line-height: 92px;
        display: inline-block;
        padding: 0 19.5px;
        color: #424242;
        font-weight: 300;
        text-transform: uppercase;
      }
      > a:hover {
        color: $color-primary;
      }
      &:last-child a {
        padding-right: 0;
      }
      a i.fa {
        padding-left: 6px;
      }
      > .sub-menu {
        opacity: 0;
        z-index: 9999;
        position: absolute;
        width: 250px;
        background-color: $color-middle-dark;
        top: 150%;
        left: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }
      &:last-child .sub-menu {
        left: auto;
        right: 0;
      }
      &:hover > .sub-menu {
        opacity: 1;
        z-index: 1;
        top: 92px;
        visibility: visible;
        transition: all 0.3s ease-in-out;
      }
      > .sub-menu > li > a {
        display: block;
        padding: 0px 0px 0px 15px;
        line-height: 45px;
        border-bottom: 1px solid #2d374a;
        color: $color-basic;
      }
      > .sub-menu > li > a:hover {
        background-color: $color-primary;
        color: $color-basic;
      }
    }
  }
}

/* Mobile navigation
---------------------------------------- */
#mainnav-mobi {
  display: block;
  margin: 0 auto;
  width: 100vw;
  z-index: 998;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 56px;
  right: 0;
  bottom: 0;

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: $color-middle-dark;
  }

  ul li {
    margin: 0;
    position: relative;
    text-align: left;
    border-top: 1px solid #2d374a;
    cursor: pointer;
  }

  ul > li > a {
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #fff;
  }

  ul.sub-menu {
    top: 100%;
    left: 0;
    z-index: 2000;
    position: relative;
    background-color: $color-middle-dark;
  }

  > ul > li > ul > li,
  > ul > li > ul > li > ul > li {
    border-top: 1px solid #2d374a;
    background-color: $color-middle-dark;
  }

  > ul > li > ul > li > ul > li a {
    padding-left: 45px !important;
  }

  ul.sub-menu > li > a {
    display: block;
    text-decoration: none;
    padding: 0 30px;
    border-top-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  > ul > li > ul > li:first-child a {
    border-top: none;
  }

  ul.sub-menu > li > a:hover,
  > ul > li > ul > li.active > a {
    color: #fff;
  }
}

.btn-menu {
  display: none;
  float: right;
  position: relative;
  background: transparent;
  cursor: pointer;
  margin: 20px 0px 20px 20px;
  width: 26px;
  height: 16px;
  -webkit-transition: all ease 0.238s;
  -moz-transition: all ease 0.238s;
  transition: all ease 0.238s;
}

.btn-menu:before,
.btn-menu:after,
.btn-menu span {
  background-color: $color-primary;
  -webkit-transition: all ease 0.238s;
  -moz-transition: all ease 0.238s;
  transition: all ease 0.238s;
}

.btn-menu:before,
.btn-menu:after {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.btn-menu span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  overflow: hidden;
  text-indent: 200%;
}

.btn-menu:before {
  -webkit-transform: translate3d(0, -7px, 0);
  transform: translate3d(0, -7px, 0);
}

.btn-menu:after {
  -webkit-transform: translate3d(0, 7px, 0);
  transform: translate3d(0, 7px, 0);
}

.btn-menu.active span {
  opacity: 0;
}

.btn-menu.active:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.btn-submenu {
  position: absolute;
  right: 20px;
  top: 0;
  font: 20px/50px "FontAwesome";
  text-align: center;
  cursor: pointer;
  width: 70px;
  height: 44px;
}

.btn-submenu:before {
  content: "\f107";
  color: #fff;
}

.btn-submenu.active:before {
  content: "\f106";
}

.btn-menu {
  display: none;
}

#HeaderNav {
  display: flex;
  .header-wrap {
    flex-grow: 1;
  }
  .nav-wrap {
    float: none;
  }
}

.main-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  align-self: center;
  .main-contacts-phone {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    transition: all 0.5s ease-in-out;
  }
  .main-contacts-email {
    color: #f87b27;
    font-size: 1rem;
    line-height: 1;
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
  }
  @media only screen and (max-width: 991px) {
    .main-contacts-phone {
      font-size: 1rem;
    }
    .main-contacts-email {
      color: #f87b27;
      font-size: 0.75rem;
    }
  }
}
