/* Images Box
  -------------------------------------------------------------- */
/* Imagebox Style1 */

.imagebox {
  &.style1 {
    position: relative;
    overflow: hidden;

    .imagebox-title {
      padding: 10px 20px;
      background: rgba(65, 84, 100, 0.85);
      min-height: 45px;
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 20px;
      visibility: visible;
      transition: all 0.3s ease-in-out;

      h3 {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        margin: 0;
        position: relative;
        line-height: 1.4;
        i {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
        }
        a {
          color: #ffffff;
        }
      }
    }

    &:hover .imagebox-title {
      visibility: hidden;
      opacity: 0;
      transform: translateY(100%);
    }

    .imagebox-content {
      position: absolute;
      top: 0px;
      left: 0;
      opacity: 0;
      visibility: hidden;
      height: 100%;
      width: 100%;
      background: rgba(65, 84, 100, 0.85);
      font-size: 14px;
      padding: 30px 30px 40px;
      transform: translateY(-100%);
      transition: all 0.5s ease-in-out;

      .imagebox-desc {
        color: #ffffff;
      }

      .imagebox-button {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        a {
          color: #ffffff;
          margin-top: 30px;
          background: rgba(24, 186, 96, 0.8);
          padding: 13px 30px;
          display: inline-block;
          position: relative;
          line-height: 24px;
          border-radius: 4px;
          &:hover,
          &:focus,
          &:target {
            background-color: #f84727;
            border-color: #f84727;
          }
          i {
            margin: 0 0 0 15px;
          }
        }
      }
    }

    &:hover .imagebox-content {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: all 0.3s ease-in-out;
    }
  }

  /* Imagebox Style2 */
  &.style2 {
    background-color: #fdfdfd;

    .imagebox-title {
      padding: 33px 0 2px 31px;
      h3 {
        font-weight: 600;
        font-size: 20px;
        text-transform: none;
        letter-spacing: 0px;
        font-family: "Poppins";
      }
    }

    .imagebox-title h3 {
      font-weight: 600;
      font-size: 20px;
      text-transform: none;
      letter-spacing: 0px;
      font-family: "Poppins";
    }

    .imagebox-content {
      padding: 13px 30px 29px;
    }

    .imagebox-content .imagebox-button {
      margin-top: 15px;
    }

    .imagebox-content .imagebox-button a {
      color: #18ba60;
      font-weight: 600;
      display: inline-block;
      position: relative;
      text-transform: lowercase;
      padding-right: 30px;
      line-height: 24px;
    }

    .imagebox-content .imagebox-button a:hover {
      color: #333333;
    }

    .imagebox-content .imagebox-button a:after {
      content: "\f178";
      font-family: "Font Awesome 5 Brands";
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
      line-height: 24px;
      font-weight: normal;
    }

    .imagebox-image:before {
      position: absolute;
      left: 50%;
      top: 50%;
      font-family: "Font Awesome 5 Brands";
      content: "\f0c1";
      color: #fff;
      font-size: 28px;
      z-index: 9999;
      margin-left: -10px;
      margin-top: -10px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out 0s;
    }

    &.style2:hover .imagebox-image:before {
      opacity: 1;
      visibility: visible;
    }

    .flat-imagebox-content {
      color: #666;
      text-shadow: 0 0 0;
    }
  }

  /* Image Box Style3 */
  &.style3 .imagebox-image:before {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #18ba60;
    border: 7px solid #ffffff;
    border-radius: 50%;
    bottom: -35px;
    left: 50%;
    margin-left: -35px;
    z-index: 10;
  }

  &.style2 .imagebox-image:after,
  &.style3 .imagebox-image:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    top: 0;
    left: 0;
    background-color: #18ba60;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
  }

  &.style2:hover .imagebox-image:after,
  &.style3:hover .imagebox-image:after {
    transform: scale(1);
  }

  &.style3 .imagebox-title h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 64px 0 0 30px;
    position: relative;
    letter-spacing: 0px;
  }

  &.style3 .imagebox-title h3:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -2px;
    width: 20px;
    height: 1px;
    margin-left: -10px;
    background-color: #ffffff;
    z-index: 11;
  }

  &.style3 .imagebox-title h3:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -12px;
    width: 1px;
    height: 20px;
    margin-left: -0.5px;
    background-color: #ffffff;
    z-index: 11;
  }

  &.style3 .imagebox-content {
    padding: 20px 30px 30px;
  }
}
