.title-section.style3 h2 {
  margin-bottom: 50px;
}

/* Imagebox Style4 */
.flat-imagebox {
  position: relative;
  overflow: hidden;
}

.wrap-imagebox-grid {
  margin: 0 -15px;
}

.flat-imagebox.item {
  width: 33.33%;
  float: left;
  padding: 0 15px;
  margin-bottom: 60px;
}

.flat-imagebox.services-grid .flat-imagebox-image {
  position: relative;
  margin-bottom: 31px;
}

.flat-imagebox.services-grid .flat-imagebox-image:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #18ba60;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  transform: scale(0);
  -webkit-transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.flat-imagebox.services-grid .flat-imagebox-header .flat-imagebox-title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 11px;
  color: #222;
}

.flat-imagebox.services-grid .flat-imagebox-header .flat-imagebox-title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
  color: #222;
}

.flat-imagebox.services-grid .flat-imagebox-button {
  margin-top: 15px;
}

.flat-imagebox.services-grid .flat-imagebox-button a {
  position: relative;
  display: inline-block;
  padding: 0 15px 0 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-transform: capitalize;
  color: #18ba60;
}

.flat-imagebox.services-grid .flat-imagebox-button a:after {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Ionicons";
  content: "\f125";
}

.flat-imagebox.services-grid .flat-imagebox-image:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #18ba60;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  transform: scale(0);
  -webkit-transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.flat-imagebox.services-grid:hover .flat-imagebox-image:after {
  transform: scale(1);
  -webkit-transform: scale(1);
}

/* Icon Box
  -------------------------------------------------------------- */

/* Icon Box */

.iconbox.style1 {
  padding-left: 82px;
  position: relative;
}

.iconbox.style2 {
  padding-left: 101px;
  position: relative;
}

.iconbox .box-header .box-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.iconbox .box-header .box-title a {
  color: #222222;
}

.iconbox .box-header .box-title a:hover {
  color: #18ba60;
}

.iconbox .box-header .icon-rounded {
  position: relative;
}

.iconbox .box-header .icon-rounded:after {
  content: "";
  position: absolute;
  background-color: #18ba60;
  top: 14px;
  left: -82px;
  height: 54px;
  width: 54px;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.iconbox:hover .box-header .icon-rounded:after {
  background-color: $color-secondary;
}

.iconbox .box-header .icon-rounded:before {
  content: "";
  font-family: "Ionicons";
  position: absolute;
  text-align: center;
  color: #ffffff;
  font-size: 28px;
  z-index: 10;
  top: 27px;
  left: -69px;
  font-weight: normal;
  height: 28px;
  width: 30px;
}

.iconbox .box-header .icon-rounded.line-chart:before {
  content: "\f262";
}

.iconbox .box-header .icon-rounded.clock:before {
  content: "\f35a";
}

.iconbox .box-header .icon-rounded.magic:before {
  content: "\f358";
}

.iconbox .box-header .icon-rounded.artboard:before {
  content: "\f3c2";
}

.iconbox .box-header .icon-rounded.global:before {
  content: "\f38c";
}

/* Iconbox Style2 */
.flat-iconbox.style2 {
  padding: 54px 0 100px;
}

.flat-iconbox.style2 .title-section h2 {
  margin-bottom: 50px;
}

.title-section.center h2,
.title-section.center .sub-title-section {
  text-align: center;
}

.title-section.s1 h2 {
  margin-bottom: 30px;
}

.title-section.center h2:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.title-section .sub-title-section {
  font-size: 16px;
  line-height: 27px;
}

.iconbox.style2 .box-header .icon-rounded:after {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  top: 0px;
  left: -100px;
}

.iconbox.style2 .box-header .icon-rounded:before {
  left: -75px;
}

.iconbox.style2 .box-header .box-title {
  margin-bottom: 8px;
}

/* IconBox Style3 */
.iconbox.style3 {
  width: 33.333%;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  margin-bottom: 24px;
}

.iconbox.style3 .icon-benefit {
  font-size: 60px;
  color: #18ba60;
  display: inline-block;
  height: auto;
  line-height: normal;
  width: 80px;
  text-align: center;
  margin-top: 15px;
}

.iconbox.style3 .icon-benefit:before {
  content: "\f352";
  font-family: "Ionicons";
  top: 0;
  left: 0;
}

.iconbox.style3 .icon-benefit.options:before {
  content: "\f4a7";
}

.iconbox.style3 .icon-benefit.people:before {
  content: "\f47b";
}

.iconbox.style3 .icon-benefit.caculator:before {
  content: "\f3f2";
}

.iconbox.style3 .icon-benefit.magic:before {
  content: "\f415";
}

.iconbox.style3 .icon-benefit.global:before {
  content: "\f38c";
}

.iconbox.style3 .box-header .box-title {
  font-weight: normal;
}

.iconbox.style3 .box-header .box-title {
  margin-top: 10px;
  margin-bottom: 8px;
  letter-spacing: 0px;
}

.wrap-iconbox {
  position: relative;
}

.item .featured-post {
  position: relative;
}

.item .featured-post a {
  position: absolute;
  right: 15px;
  top: 10px;
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  z-index: 9;
}

.item .featured-post:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.item:hover .featured-post:after,
.item:hover .link,
.item:hover .featured-post a {
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
}

.slides .item .featured-post a:hover {
  color: $color-secondary;
}
