.header-carousel {
  position: relative;
  height: 100vh;
  z-index: 1;
}

.siema {
  .siema-slide {
    position: relative;
  }
}

.siema-header {
  height: 100vh;
  .siema-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.siema-header-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  height: 100%;
  font-size: 3em;
  background: #000000;
  opacity: 0.1;
  border: none;
  border-radius: 0;
  outline: none;

  @media only screen and (max-width: 991px) {
    display: none;
  }

  &:hover,
  &:target,
  &:active {
    opacity: 0.5;
    outline: none;
  }

  &.btn-prev {
    left: 0;
  }
  &.btn-next {
    right: 0;
  }
}

/**********************************************************/

.siema-clients {
  .siema-slide {
    margin: 0 1em;
    @media only screen and (max-width: 991px) {
      margin: 0 0.1em;
    }
    &:after {
      content: "";
      position: absolute;
      background-color: rgba(18, 29, 47, 0.9);
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s ease 0s;
    }
    &:hover {
      &:after {
        filter: alpha(opacity=100);
        opacity: 1;
        visibility: visible;
      }
      .title-post {
        opacity: 1;
        visibility: visible;
        top: 40%;
      }
      .category-post {
        opacity: 1;
        visibility: visible;
        top: 50%;
      }
    }

    .title-post {
      font-size: 18px;
      color: #ffffff;
      text-align: center;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: 600;
      position: absolute;
      top: 80%;
      left: 50%;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-50%);
      transition: all 0.4s ease-in-out;
      a {
        color: #ffffff;
        &:hover {
          color: $color-primary;
          text-decoration: underline;
        }
      }
    }

    .category-post {
      position: absolute;
      top: 70%;
      left: 50%;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      color: #ffffff;
      transform: translateX(-50%);
      transition: all 0.4s ease-in-out;
      a {
        color: #ffffff;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
.siema-client-buttons {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
  height: 100%;
  @media only screen and (max-width: 991px) {
    display: none;
  }
  button {
    margin: 0 0.5em;
  }
}
