/* TOP 1 ***********************************************/
.top {
  background-color: #3a526a;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 0;

  .top--phone {
    color: white;
  }
  .top--email {
    color: white;
  }
  .top--icon {
    width: 16px;
    text-align: left;
  }
  .top--info {
    text-align: right;
    @media only screen and (max-width: 991px) {
      text-align: center;
    }
  }
  a {
    color: white;
    font-weight: bold;
  }
}
/* TOP 2 ***********************************************/
.top {
  .top-logo {
    margin: 3em auto;
    height: auto;
    width: 15em;
    @media only screen and (max-width: 991px) {
      margin: 1em auto;
    }
  }
}

.top.style2 {
  background-color: #ffffff;
  padding: 0;
  color: #333333;
}

.top.style2 .flat-open-hours {
  width: 50%;
  float: left;
}

.top.style2 .flat-open-hours,
.top.style2 .flat-address {
  margin-top: 46px;
}

.top.style2 .flat-open-hours .icon,
.top.style2 .flat-address .icon {
  float: left;
  margin-right: 13px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border: 2px solid #333333;
  border-radius: 50%;
  font-size: 21px;
}

.top.style2 .flat-open-hours .text,
.top.style2 .flat-address .text {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.top.style2 .flat-open-hours .text span,
.top.style2 .flat-address .text span {
  font-size: 12px;
  font-weight: normal;
  color: #535353;
}

/* Top Style2 v2
  -------------------------------------------------------------- */

.top.style2.v1 .flat-open-hours,
.top.style2.v1 .flat-address {
  margin-top: 0;
}

.top.style2.v1 {
  padding: 30px 0 60px;
}
