$fonts-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; // "Roboto", "Poppins", sans-serif;
$font-size: 1em;

$color-basic: #ffffff;
$color-primary: #f87b27;
$color-primary-active: #f84727;
$color-middle: #3a526a;
$color-middle-dark: #1d2738;
$color-secondary: #2e363a;
$color-black: #000000;
