.widget {
}

.widget-dark {
  color: #ffffff;
}

.widget-social {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
      display: flex;
      flex-direction: row;
    }
  }
  .widget-social--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    background: $color-primary;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border-color: $color-primary;
    &:hover,
    &:target,
    &:focus {
      background: $color-primary-active;
      border-color: $color-primary-active;
    }
    img {
      height: 14px;
      height: 14px;
      width: auto;
      object-fit: contain;
    }
  }
}

.widget-information {
}

/* Widget-information */
.widget-information {
  border-bottom: 1px solid #394348;

  ul.information-footer {
    display: flex;
    flex-direction: row;
    li {
      margin: 2em 5em 2em 0;

      a {
        color: #e5e5e5;
        &:hover {
          color: $color-primary;
        }
      }
      i.fa {
        background-color: $color-primary;
        color: #ffffff;
        width: 40px;
        line-height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        text-align: center;
      }
    }

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      li {
        margin: 1em 0 1em 0;
      }
    }
  }
}
