@import "variables";
@import "imagebox";
@import "shortcodes";
@import "form";
@import "buttons";
@import "header-nav";

@import "reboot";
@import "_bootstrap-resetting";

.section {
  position: relative;
}

/* flat botton
-------------------------------------------------------------- */
.flat-button {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  padding: 0 44px;
  font-weight: 600;
  border: 2px solid transparent;
  letter-spacing: 1.7px;
  line-height: 45px;
  background-color: #394348;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.flat-button:hover {
  background-color: $color-primary;
  color: #fff;
}

.wrap-button.s1 {
  text-align: center;
  margin-top: 55px;
  padding-right: 3px;
}

.wrap-button.s2 {
  margin-top: 0;
  padding-right: 0;
}

.wrap-button.s2 .flat-button {
  position: relative;
  display: inline-block;
  margin-top: 26px;
  font-size: 13px;
  color: #fff;
  padding: 7px 32px 7px 18px;
  border-radius: 3px;
  font-family: $fonts-family;
  font-weight: 600;
  background-color: $color-primary;
  line-height: normal;
  letter-spacing: 0;
}

.wrap-button.s2 .flat-button:after {
  content: "\f054";
  font-family: "FontAwesome";
  position: absolute;
  right: 13px;
  top: 11px;
  font-weight: normal;
  font-size: 12px;
}

.wrap-button.s2 .flat-button:hover {
  background-color: $color-secondary;
}

/* Blog Single
-------------------------------------------------------------- */

/* boxed
-------------------------------------------------------------- */
.home-boxed .boxed {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 1px #7f7f7f;
  overflow: hidden;
}

/* Page Title 
---------------------------------------------------------------*/
.page-title {
  padding: 23px 0 22px;
  background-color: #f8f8f8;
}

.page-title .page-title-heading {
  float: left;
}

.page-title .page-title-heading .h1-title {
  color: $color-secondary;
  font-size: 31px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.page-title .breadcrumbs {
  float: right;
}

.page-title .breadcrumbs li {
  display: inline-block;
  line-height: 38px;
}

.page-title .breadcrumbs li a {
  color: $color-primary;
  letter-spacing: -0.2px;
}

.page-title .breadcrumbs li:last-child a {
  color: #a9a9a9;
}

.page-title .breadcrumbs li a:hover {
  color: #a9a9a9;
}

.page-title .breadcrumbs li:last-child a:hover {
  color: #a9a9a9;
}

.page-title .breadcrumbs li a i {
  padding: 0 5px 0 9px;
}

/* Main Content 
---------------------------------------------------------------*/
.main-content {
  margin: 50px 0 39px;
}

.wrap-post {
  margin: 0 -15px;
  overflow: hidden;
}

article.post.s1 {
  margin-bottom: 40px;
  position: relative;
  float: left;
  width: 50%;
  padding: 0 15px;
}

article.post .featured-post ul.post-date {
  position: absolute;
  top: 0;
  left: 45px;
  background-color: $color-secondary;
  color: $color-basic;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 2px 10px 7px 12px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

article.post .featured-post ul.post-date .day {
  font-size: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
}

article.post .content-post {
  padding: 35px 30px 20px 30px;
  position: relative;
  background-color: #f7f7f7;
}

article.post .content-post:after {
  content: "";
  position: absolute;
  width: 64px;
  height: 5px;
  background-color: #30ab56;
  top: 0px;
  left: 30px;
  z-index: 2;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

article.post:hover .featured-post ul.post-date {
  background-color: $color-primary;
}

article.post .content-post h4 {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 16px;
}

article.post .content-post .more-link {
  margin-top: 19px;
}

article.post .content-post .more-link a {
  background-color: $color-secondary;
  border-radius: 3px;
  font-weight: 600;
  display: inline-block;
  line-height: 40px;
  padding: 0 38px 3px;
  letter-spacing: 0;
  color: $color-basic;
}

article.post .content-post .more-link a:hover {
  background-color: $color-primary;
}

/* Blog Pagination 
---------------------------------------------------------------*/
.blog-single-pagination {
  margin: 12px 0 10px;
}

.flat-pagination li {
  display: inline-block;
  margin-right: 5px;
}

.flat-pagination li a {
  line-height: 20px;
  background-color: #f7f7f7;
  padding: 0 15px;
  display: block;
  line-height: 41px;
  width: 40px;
  text-align: center;
}

.flat-pagination li a:hover,
.flat-pagination li a.active {
  background-color: $color-primary;
  color: $color-basic;
}

/* Footer 
---------------------------------------------------------------*/
#footer {
  background-color: $color-secondary;
}

/* Footer Widgets
---------------------------------------------------------------*/

@import "widgets";

/* Widget-box */
.widget-box {
  padding: 52px 0 47px;
}

.widget-box .widget-text p {
  color: $color-basic;
  margin-bottom: 20px;
}

.widget-box .widget-services .one-half {
  width: 50%;
  float: left;
  margin-top: 2px;
}

.widget-box .widget-services .one-half.first {
  padding-left: 16px;
  margin-top: 1px;
}

.widget-box .widget-services .one-half li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 11px;
  color: $color-basic;
}

.widget-box .widget-services .one-half li:before {
  content: "\f0da";
  font-family: "FontAwesome";
  position: absolute;
  top: 40%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.widget-box .widget-services .one-half li a {
  color: #e5e5e5;
}

.widget-box .widget-services .one-half li a:hover {
  color: $color-primary;
}

/* Widget-subscribe */
.widget-subscribe form label {
  color: $color-basic;
  margin-bottom: 9px;
}

#form-email-footer {
  width: 352px;
  border-radius: 0;
}

.widget-subscribe form .button-subscribe:hover {
  background-color: $color-secondary;
  border-color: $color-secondary;
}

.widget-subscribe button {
  letter-spacing: 0;
}

@import "footer";
/* BLog
-------------------------------------------------------------- */

/* Main Content */

/* Main Post */
article.main-post {
  padding: 29px 0;
  border-bottom: 1px solid #eff0f4;
  margin-bottom: 21px;
}

article.main-post:first-child {
  padding: 0 0 29px;
}

/* Entry Post Title */
.entry-post-title .post-title {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4px;
  letter-spacing: 0;
}

.entry-post-title ul.entry-meta li {
  display: inline-block;
  padding-left: 27px;
  padding-right: 10px;
  border-right: 1px solid #eff0f4;
  line-height: 1;
  position: relative;
  margin-left: 13px;
}

.entry-post-title ul.entry-meta li:first-child {
  margin-left: 0;
}

.entry-post-title ul.entry-meta li:last-child {
  border-right: none;
}

.entry-post-title ul.entry-meta li:before {
  content: "\f017";
  font-family: "FontAwesome";
  position: absolute;
  top: -1px;
  left: 3px;
  font-size: 15px;
  color: #888;
}

.entry-post-title ul.entry-meta {
  margin-bottom: 33px;
}

.entry-post-title ul.entry-meta li.date:before {
  left: 2px;
}

.entry-post-title ul.entry-meta li.author:before {
  content: "\f007";
}

.entry-post-title ul.entry-meta li.categories:before {
  content: "\f115";
}

.entry-post-title ul.entry-meta li.comment:before {
  content: "\f0e6";
}

.entry-post-title ul.entry-meta li a {
  color: #888;
}

.entry-post-title ul.entry-meta li a:hover {
  color: $color-primary;
}

/* Featured Post */
article.main-post .featured-post {
  margin-bottom: 30px;
}

/* Entry Content */
article.main-post .entry-content a.more-link {
  background-color: $color-primary;
  color: $color-basic;
  line-height: 45px;
  padding: 0 37px 0 19px;
  display: inline-block;
  border-radius: 2px;
  margin: 25px 0 20px;
  position: relative;
  font-weight: 600;
  font-size: 14px;
}

article.main-post .entry-content a.more-link:before {
  content: "\f054";
  font-family: "FontAwesome";
  position: absolute;
  top: 49%;
  right: 14%;
  font-size: 13px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

article.main-post .entry-content a.more-link:hover:before {
  right: 10%;
}

article.main-post .entry-content a.more-link:hover {
  background-color: #3a526c;
}

/* Blog Pagination */
.blog-pagination {
  margin: 50px 0 10px;
}

/* Side Bar Blog
-------------------------------------------------------------- */
.sidebar.right {
  padding-left: 30px;
}

.sidebar .widget {
  margin-bottom: 50px;
  overflow: hidden;
}

/* Widget Title */
.widget .widget-title {
  font-size: 24px;
  padding-bottom: 17px;
  margin-top: 20px;
  margin-bottom: 34px;
  color: #333333;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
}

.widget .widget-title:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: $color-primary;
  bottom: -1px;
  left: 0px;
  border-radius: 2px;
}

/* Widget Recent */
.widget-recent ul li {
  padding: 15px 0;
  border-bottom: 1px solid #ebebeb;
}

.widget-recent ul li:first-child {
  padding-top: 0;
}

.widget-recent ul li a {
  font-weight: 600;
}

.widget-recent ul li span {
  display: block;
  margin-top: 5px;
  color: #b9c1cf;
}

/* Widget Categories */
.widget-categories ul li {
  padding: 13px 0 12px 16px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.widget-categories ul li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #333333;
  top: 47%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.widget-categories ul li a {
  letter-spacing: 0.3px;
}

/* Widget Brochure */
.widget-brochure {
  padding: 28px 27px 13px 24px;
  border: 1px solid #999999;
}

.widget-brochure .brochure-box-title {
  margin-bottom: 18px;
}

.widget-brochure .brochure-box-title p {
  font-size: 13px;
}

.widget-brochure .brochure-box-title .brochure-title {
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  padding-bottom: 10px;
}

.widget-brochure .btn-download a {
  display: block;
  background-color: #3a526c;
  line-height: 45px;
  padding: 0 19px;
  margin-bottom: 18px;
  border-radius: 4px;
  position: relative;
  color: $color-basic;
  letter-spacing: 0.2px;
}

.widget-brochure .btn-download a:hover {
  background-color: $color-primary;
}

.widget-brochure .btn-download a:after {
  content: "\f1c1";
  font-family: "FontAwesome";
  position: absolute;
  top: 1px;
  right: 19px;
}

.widget-brochure .btn-download a.doc:after {
  content: "\f1c2";
}

/* Widget Tag */
.widget-tags .tag-cloud a {
  display: inline-block;
  background-color: $color-primary;
  border-radius: 4px;
  padding: 7px 20px;
  margin-bottom: 5px;
  margin-right: 5px;
  color: $color-basic;
}

.widget-tags .tag-cloud a:hover {
  background-color: #3a526c;
}

/* sidebar services
-------------------------------------------------------------- */
.sidebar.left .widget {
  margin-bottom: 50px;
  overflow: hidden;
}

.sidebar .widget.widget_nav_menu ul li {
  display: block;
  padding: 12px 0 11px 25px;
  margin-bottom: 2px;
  color: #222222;
  font-weight: 700;
  font-size: 13px;
  font-family: $fonts-family;
  background-color: #f1f1f1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 35px;
  letter-spacing: 0.4px;
}

.sidebar .widget.widget_nav_menu ul li.active,
.sidebar .widget.widget_nav_menu ul li:hover {
  background-color: $color-middle;
  color: #fff;
}

.sidebar .widget.widget_nav_menu ul li.active a,
.sidebar .widget.widget_nav_menu ul li:hover a {
  color: #fff;
}

.widget-brochure.services {
  padding: 28px 24px 13px 24px;
  border: 1px solid #999999;
}

.widget-brochure.services .brochure-box-title p {
  margin-right: -5px;
}

/* Home Tp-Banner
-------------------------------------------------------------- */
.tp-banner-container .tp-banner img {
  height: 700px;
}

/* Flat Row Image Style1
-------------------------------------------------------------- */
.pd-imagebox {
  padding: 60px 0;
}

.imagebox-image {
  position: relative;
}

/* Iconbox Style1
-------------------------------------------------------------- */

.bg-theme {
  background-color: #f7f7f7;
}

/* Flat Row Icon */
.flat-iconbox {
  padding: 80px 0 75px;
}

.height80 {
  height: 70px;
}

/* Flat CallBack
-------------------------------------------------------------- */
.flat-callback {
  padding: 84px 0 70px;
  background-color: $color-secondary;
}

/* Text Block Callback */
.text-block-callback {
  text-align: right;
}

.text-block-callback h2 {
  font-size: 30px;
  color: $color-basic;
  text-transform: uppercase;
  margin-bottom: 27px;
  font-weight: 600;
}

.text-block-callback .text-callback-content {
  color: $color-basic;
}

/* Flat Call Back Form */
.flat-callback-form {
  padding-left: 30px;
}

.flat-callback-form .flat-field {
  margin: 0 -10px;
  padding-right: 75px;
}

.flat-callback-form .flat-field .field-one-half {
  width: 50%;
  padding: 0 10px;
  float: left;
}

.flat-callback-form .flat-field .field-one-half.field-email {
  margin-right: 0;
}

.flat-callback-form .flat-field .field-one-half label {
  color: #cccccc;
  margin-bottom: 10px;
}

.flat-callback-form .flat-field .field-one-half select {
  padding: 14px;
}

.flat-callback-form .flat-field .field-one-half select,
.flat-callback-form .flat-field .field-email input,
.flat-callback-form .flat-field .field-phone input {
  height: 50px;
  margin-bottom: 30px;
}

.flat-callback-form .flat-field .field-email input {
  margin-top: 35px;
  border-radius: 4px;
}

.flat-callback-form .flat-field .field-submit button.button-submit-field {
  text-transform: capitalize;
  padding: 0 30px;
  height: 50px;
}

.flat-callback-form .flat-field .field-submit button.button-submit-field:hover {
  background-color: $color-secondary;
  border-color: $color-secondary;
}

.flat-callback-form select {
  background-image: url(../images/icon-arrow-select.png);
  background-position: 96% 49%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #555;
}

input:-moz-placeholder,
textarea:-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #555;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #555;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #555;
  opacity: 1;
}

.flat-form-info input:-moz-placeholder,
.flat-form-info textarea:-moz-placeholder,
.flat-form-info input::-moz-placeholder,
.flat-form-info textarea::-moz-placeholder {
  color: #c1c1c1;
  opacity: 1;
}

.flat-form-info input:-ms-input-placeholder,
.flat-form-info textarea:-ms-input-placeholder {
  color: #c1c1c1;
}

.flat-form-info input::-webkit-input-placeholder,
.flat-form-info textarea::-webkit-input-placeholder {
  color: #c1c1c1;
  opacity: 1;
}

/* Map */
.map {
  width: 100%;
  height: 454px;
}

/* carousel */
.flat-carousel .owl-controls .owl-nav div.owl-prev {
  left: -85px;
  background-color: transparent;
}

.flat-carousel .owl-controls .owl-nav div.owl-next {
  right: -85px;
  background-color: transparent;
}

.flat-carousel .owl-controls .owl-nav div.owl-prev:before,
.flat-carousel .owl-controls .owl-nav div.owl-next:before {
  font-family: "Ionicons";
  font-size: 30px;
  color: #ccc;
}

.flat-carousel .owl-controls .owl-nav div.owl-prev:before {
  content: "\f3d2";
}

.flat-carousel .owl-controls .owl-nav div.owl-next:before {
  content: "\f3d3";
}

/* progress
-------------------------------------------------------------- */
.flat-progress {
  position: relative;
  margin-bottom: 30px;
}

.flat-progress .name {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  font-weight: 700;
}

.flat-progress .progress-bar {
  background-color: #f5f5f5;
  height: 10px;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.flat-progress .perc {
  width: 0;
  text-align: right;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.flat-progress .perc.show {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.flat-progress .progress-animate {
  background-color: $color-primary;
  height: 10px;
  width: 0;
  border-radius: 5px;
}

/* Flat News
-------------------------------------------------------------- */
.flat-news {
  padding: 50px 0 49px;
}

.flat-news-s2 {
  padding: 45px 0 113px;
}

.flat-news.s3 {
  padding: 3px 0 50px;
}

.flat-news .title-section h2 {
  margin-bottom: 56px;
}

.flat-news.s3 .title-section h2 {
  margin-bottom: 40px;
}

article.post.style2 .featured-post,
article.post.style3 .featured-post,
.news-small .news-small-image {
  position: relative;
}

article.post.style2 .featured-post:before,
article.post.style3 .featured-post:before,
.news-small .news-small-image:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 30px;
  background-color: $color-basic;
  top: 50%;
  left: 50%;
  z-index: 999;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

article.post.style2 .featured-post:after,
article.post.style3 .featured-post:after,
.news-small .news-small-image:after {
  content: "";
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: $color-basic;
  top: 50%;
  left: 50%;
  z-index: 999;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

article.post.style2:hover .featured-post:after,
article.post.style2:hover .featured-post:before,
article.post.style3:hover .featured-post:after,
article.post.style3:hover .featured-post:before,
.news-small:hover .news-small-image:before,
.news-small:hover .news-small-image:after {
  opacity: 1;
}

article.post.style2 .featured-post a.post-image,
.news-small .news-small-image a.post-image-small {
  position: relative;
  height: 100%;
  display: block;
}

article.post.style2 .featured-post a.post-image:after,
article.post.style3 .featured-post a:after,
.news-small .news-small-image a.post-image-small:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

article.post.style2:hover .featured-post a.post-image:after,
article.post.style3:hover .featured-post a:after,
.news-small:hover .news-small-image a.post-image-small:after {
  opacity: 0.5;
}

article.post.style2 .featured-post ul.post-date {
  left: 29px;
}

/* Widget Recent News */

.widget.widget-recent-news li {
  margin-bottom: 18px;
  padding: 0 0 18px 0;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
}

.widget.widget-recent-news li:last-child {
  border-bottom: 0;
}

.widget.widget-recent-news .thumb {
  display: inline-block;
  float: left;
  margin-right: 20px;
  position: relative;
}

.widget.widget-recent-news .thumb a {
  position: relative;
  display: block;
  background: #000000;
}

.widget.widget-recent-news .thumb a:after,
.widget.widget-recent-news .thumb a:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background: #fff;
  top: 50%;
  left: 50%;
  z-index: 9999;
  margin-top: -15px;
  margin-left: -1px;
  visibility: hidden;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.widget.widget-recent-news .thumb a:before {
  height: 1px;
  width: 30px;
  margin-top: -1px;
  margin-left: -15px;
}

.widget.widget-recent-news li:hover a:before,
.widget.widget-recent-news li:hover a:after {
  visibility: visible;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}

.widget.widget-recent-news .thumb a img {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.widget.widget-recent-news li:hover img {
  -webkit-opacity: 0.4;
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity=40);
}

.widget.widget-recent-news li .text h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
}

.widget.widget-recent-news li .text p {
  margin-bottom: 0;
  font-size: 13px;
  color: #b9c1cf;
}

/* Flat Client
-------------------------------------------------------------- */
.flat-client {
  padding: 61px 0 70px;
}

.flat-client ul li:first-child {
  margin-left: 20px;
}

.flat-client ul li:last-child {
  margin-right: 0;
}

.flat-client ul li {
  display: inline-block;
  margin: 0 33px;
}

/* Flat Counter
-------------------------------------------------------------- */
.flat-counter {
  padding: 95px 0 100px;
  position: relative;
}

.flat-counter .container {
  z-index: 99;
  position: relative;
}

/* Counter */
.counter {
  text-align: center;
  color: $color-basic;
  z-index: 10;
}

.counter .counter-content {
  margin-bottom: 9px;
}

.counter .counter-content .counter-number {
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
}

.counter .name {
  font-weight: 600;
}

.flat-counter .overlay {
  position: absolute;
  content: "";
  background-color: #333333;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 1;
}

/* Progress Bar */
.progress-item {
  position: relative;
  margin-bottom: 30px;
}

.progress-item .name {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  font-weight: 700;
  font-family: $fonts-family;
}

.progress-item .perc {
  font-weight: 400;
  text-align: right;
}

.progress-item .progress-animate {
  background-color: $color-primary;
  height: 10px;
  width: 0;
  border-radius: 5px;
}

.progress-item .progress-bar {
  background-color: #f5f5f5;
  height: 10px;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.progress-item .progress-bar {
  background-color: #f7f7f7;
  line-height: 24px;
  font-size: 12px;
}

.progress-item .perc {
  width: 0;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.progress.item .perc.show {
  opacity: 1;
}

/* Flat Progress Accordion
-------------------------------------------------------------- */
.flat-progress-accordion {
  padding: 80px 0;
}

/*Progress
-------------------------------------------------------------- */
.progres,
.accordion {
  background-color: $color-basic;
  border: 1px solid #ebebeb;
  padding: 60px 30px 50px 31px;
}

.progres .progress-title h2,
.accordion .accordion-title h2 {
  font-size: 32px;
  font-weight: 600;
  color: #222222;
  padding-bottom: 20px;
  margin-bottom: 40px;
  position: relative;
  letter-spacing: 0px;
}

.progres .progress-title h2:after,
.accordion .accordion-title h2:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 50px;
  background-color: $color-primary;
  bottom: 0;
  left: 0;
}

.progres .progress-content {
  margin-bottom: 43px;
}

/* Article Post Style2
-------------------------------------------------------------- */
article.post.style2 .content-post:after {
  top: 0;
}

article.post.style2 .content-post h4 {
  margin: 0 0 18px;
}

article.post.style2 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

article.post.style2:hover .post-date {
  background-color: $color-primary;
}

article.post.style2:hover {
  margin-top: -3px;
  background-color: $color-basic;
  box-shadow: 0 0 15px #ddd;
}

article.post.style2:hover .content-post {
  background: #fff;
}

/* Flat Block Qoute
-------------------------------------------------------------- */
.flat-block-quote {
  padding: 68px 0;
}

.flat-block-quote-slider {
  border-radius: 5px;
  box-shadow: 0px 26px 16px 0px rgba(0, 0, 0, 0.27);
  background-color: $color-basic;
  filter: Alpha(opacity=90);
  opacity: 0.9;
}

.block-quote {
  text-align: center;
  padding: 60px 45px 105px;
}

.block-quote .quote-content {
  position: relative;
}

.block-quote .quote-content:before {
  content: "\f10d";
  font-family: "Fontawesome";
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 20px;
  color: $color-basic;
  background-color: $color-primary;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.block-quote .quote-content blockquote {
  padding: 80px 28px 36px 55px;
  font-size: 16px;
  color: #666666;
  line-height: 27px;
}

.block-quote .quote-content .quote-author .author-name {
  font-size: 18px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 3px;
}

.flat-block-quote-slider .flex-control-nav {
  bottom: 46px;
  padding-right: 31px;
}

.flat-block-quote-slider .flex-control-nav li {
  margin: 0 3px;
}

.flat-block-quote-slider .flex-control-paging li a {
  width: 6px;
  height: 6px;
  display: block;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.flex-control-paging li a.flex-active {
  top: -2px;
  position: relative;
  width: 10px;
  height: 10px;
  background: $color-primary;
  cursor: default;
  background: transparent;
  -webkit-box-shadow: inset 0 0 5px rgba(24, 186, 96, 1);
  -moz-box-shadow: inset 0 0 5px rgba(24, 186, 96, 1);
  -o-box-shadow: inset 0 0 5px rgba(24, 186, 96, 1);
  box-shadow: inset 0 0 5px rgba(24, 186, 96, 1);
}

/* Home Layout3
-------------------------------------------------------------- */

/* Flat Benefit
-------------------------------------------------------------- */
.flat-benefit {
  padding: 96px 0px 0;
  position: relative;
}

.flat-benefit:before {
  content: "";
  position: absolute;
  background: $color-basic;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.height24 {
  height: 24px;
}

/* Testimonials
-------------------------------------------------------------- */
.flat-testimonials {
  padding: 73px 0 62px;
}

/* Flat News Layout3 Style3
-------------------------------------------------------------- */
.title-section.style3 h2:after {
  background-color: transparent;
}

.wrap-article {
  margin: 0 -15px;
}

article.post.style3 {
  background-color: transparent;
  width: 50%;
  float: left;
  padding: 0 15px;
}

article.post.style3 .featured-post {
  float: left;
  margin-right: 25px;
  position: relative;
}

article.post.style3 .featured-post ul.post-date {
  left: 30px;
}

article.post.style3 .content-post {
  padding: 0;
  background-color: transparent;
  overflow: hidden;
}

article.post.style3 .content-post:after {
  background-color: transparent;
}

article.post.style3 .content-post h4 {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 15px;
  letter-spacing: -1px;
}

article.post.style3 .content-post h4 a {
  color: $color-secondary;
}

article.post.style3 .content-post h4 a:hover {
  color: $color-primary;
}

article.post.style3 .content-post .entry-post {
  padding-left: 1px;
  margin-bottom: 19px;
}

article.post.style3 .news-button.style3 {
  font-weight: 600;
  letter-spacing: 0.8px;
  padding-left: 5px;
}

article.post.style3 .news-button.style3 a {
  color: $color-primary;
  line-height: 28px;
  position: relative;
}

article.post.style3 .news-button.style3 a:after {
  content: "\f30f";
  font-size: 18px;
  font-family: "Ionicons";
  position: absolute;
  right: -20px;
  color: $color-primary;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

article.post.style3 .news-button.style3 a:hover:after {
  right: -30px;
}

/* Flat News Post Style4
-------------------------------------------------------------- */
article.post.style4 {
  background-color: transparent;
  width: auto;
  float: none;
  padding: 0 0;
}

article.post.style4 .featured-post ul.post-date {
  left: 46px;
}

article.post .content-post {
  padding: 33px 30px 20px 30px;
}

/* Services widget
-------------------------------------------------------------- */
.one-half {
  width: 50%;
  float: left;
}

.wrap-one-half.services .one-half.v1 {
  padding: 0 17px 0 0;
}

.wrap-one-half.services .one-half.v2 {
  padding-right: 0;
}

.wrap-one-half.services .one-half {
  padding: 0 15px;
}

.wrap-one-half.services {
  margin: 0 -15px;
  padding-left: 45px;
  padding-right: 47px;
  overflow: hidden;
}

.box-content .title {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin: 9px 0;
}

.box-content .flat-list li {
  position: relative;
  padding-left: 25px;
  line-height: 30px;
}

.box-content .flat-list li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: $color-primary;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  padding-top: 1px;
  line-height: normal;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.flexslider .flex-direction-nav a {
  opacity: 0;
  color: transparent;
  text-shadow: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.flexslider:hover .flex-direction-nav a {
  opacity: 0.7;
}

.flexslider.s1 {
  margin: 4px 3px 87px 5px;
}

.flexslider {
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  border-radius: 4px;
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* about v1
-------------------------------------------------------------- */
.wrap-main-post.about-v1 {
  padding: 0 10px 0 30px;
}

.about-v1 .entry .feature-post {
  display: inline-block;
  float: left;
  margin: 0 31px 0 0;
}

.content-post .position {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 0;
  color: #999999;
}

.content-post .title-post {
  margin-bottom: 15px;
  margin-top: 0px;
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

/* about v3
-------------------------------------------------------------- */
.wrap-main-post.about-v3 {
  padding: 0 29px 0 30px;
}

.flexslider.s2 {
  margin-bottom: 119px;
}

.flexslider .flex-direction-nav li a:before {
  content: "\f053";
  font-family: "FontAwesome";
  font-size: 15px;
  color: $color-basic;
  left: 13px;
  position: absolute;
}

.flexslider .flex-direction-nav li a.flex-next:before {
  content: "\f054";
}

.flat-text-block-timeline {
  margin-bottom: 46px;
}

.flat-text-block-timeline .year {
  font-size: 23px;
  font-weight: 600;
  font-family: "Roboto", "Poppins", sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $color-primary;
  margin-bottom: 38px;
  position: relative;
}

.flat-text-block-timeline .year:after {
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 90px;
  height: 1px;
  background-color: #dfdfdf;
  content: "";
}

.flat-text-block-timeline .flat-timeline-content {
  padding-left: 90px;
}

.flat-timeline-content .box-content .title {
  margin: 9px 0;
}

/* contact v1
-------------------------------------------------------------- */
.contact-info .info {
  margin-bottom: 42px;
}

.contact-info .info .title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 7px;
  color: #222;
}

.flat-form-info {
  margin: 0 -10px;
}

.form-info .one-half {
  padding: 0 10px;
}

.form-info input[type="text"],
.form-info input[type="email"],
.form-info input[type="phone"],
.form-info textarea {
  background-color: #f7f7f7;
  font-size: 14px;
  color: #c1c1c1;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  margin-bottom: 30px;
}

.form-info input:focus,
.form-info textarea:focus {
  border: 1px solid $color-primary;
}

.form-info input {
  height: 50px;
  width: 100%;
  border-radius: 0;
}

.form-info textarea {
  height: 288px;
  padding: 15px 0 0 15px;
}

.form-info input[type="submit"] {
  color: #fff;
  letter-spacing: 2px;
  font-size: 13px;
  height: 45px;
}

.form-info input[type="submit"]:hover {
  background-color: $color-secondary;
  border-color: $color-secondary;
  color: #fff;
}

/* Parallax
-------------------------------------------------------------- */
.parallax {
  width: 100%;
  background-attachment: fixed;
  background-position: 50% 0;
}

.parallax1 {
  background-image: url(../images/parallax/bg-parallax1.jpg);
  background-repeat: no-repeat;
}

.parallax2 {
  background-image: url(../images/parallax/bg-parallax2.jpg);
  background-size: cover;
}

.parallax3 {
  background-image: url(../images/parallax/bg-parallax3.png);
  background-size: cover;
}

.parallax.overlay-s1 .overlay-parallax {
  background-color: #333333;
  opacity: 0.8;
}

.parallax .overlay-parallax {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* padding section */
.pd-imagebox-s3 {
  padding: 100px 0;
}

.flat-imagebox.style2 {
  padding: 50px 0 50px;
}

.pd-portfolio-s1 {
  padding: 49px 0 74px;
}

.pd-portfolio-s2 {
  padding: 49px 0 72px;
}

.pd-portfolio-s3 {
  padding: 49px 0 70px;
}

.pd-services-post {
  padding: 60px 0 41px;
}

.pd-services-widget {
  padding: 50px 0 49px;
}

.pd-about-post {
  padding: 50px 0 113px;
}

.pd-aboutv3 {
  padding: 50px 0 49px;
}

.pd-about-team {
  padding: 59px 0 90px;
}

.pd-contact-v1 {
  padding: 100px 0 90px;
}

.pd-contact-v2 {
  padding: 40px 0 58px;
}

.pd-title-section {
  padding: 59px 0 0;
}

.dividers {
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.blog-single-post {
  margin: 50px 0 39px;
}

.dividers-pagination {
  height: 40px;
}

.dividers.portfolio {
  height: 42px;
}

.dividers.dividers-imagebox {
  height: 79px;
}

.dividers.dividers-imagebox.v1 {
  height: 81px;
}

.dividers.dividers-bc-v1 {
  height: 24px;
}

.dividers.dividers-bc-v2 {
  height: 44px;
}

.dividers.dividers-bc-v3 {
  height: 20px;
}

.dividers.dividers-bc-v4 {
  height: 50px;
}

.dividers.dividers-about-post {
  height: 115px;
}

.dividers.dividers-about-team {
  height: 61px;
}

/* GoTop
-------------------------------------------------------------- */
.go-top {
  position: fixed !important;
  right: -35px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.go-top.show {
  right: 15px;
  bottom: 15px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}

.go-top i {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  padding-bottom: 3px;
}

.go-top:hover {
  background-color: $color-primary;
}

.go-top:hover i {
  color: #fff;
}

/* Preloader
-------------------------------------------------------------- */
.preloader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.clear-loading {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.loading-effect-2 {
  width: 100px;
  height: 100px;
}

.loading-effect-2 > span,
.loading-effect-2 > span:before,
.loading-effect-2 > span:after {
  content: "";
  display: block;
  border-radius: 50%;
  border: 2px solid $color-primary;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading-effect-2 > span {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-left-color: transparent;
  -webkit-animation: effect-2 2s infinite linear;
  -moz-animation: effect-2 2s infinite linear;
  -ms-animation: effect-2 2s infinite linear;
  -o-animation: effect-2 2s infinite linear;
  animation: effect-2 2s infinite linear;
}

.loading-effect-2 > span:before {
  width: 75%;
  height: 75%;
  border-right-color: transparent;
}

.loading-effect-2 > span:after {
  width: 50%;
  height: 50%;
  border-bottom-color: transparent;
}

@-webkit-keyframes effect-2 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes effect-2 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@import "siema-carousel";
@import "color";

.section--title {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.section-feedback {
  background: $color-secondary;
  color: $color-basic;
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: $color-basic;
  }
  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.maps {
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &.maps-active {
    &::after {
      z-index: -1;
    }
  }
}

.imagebox-image {
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

.section-header {
  position: relative;
  background-image: url("../images/system/section-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background: #000;
    opacity: 0.5;
  }
  .section-header-card {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    h1,
    p {
      font-family: "Uni Sans";
      font-size: 5rem;
      font-weight: 600;
      color: $color-basic;
      line-height: 100%;
    }
    .highlight {
      color: $color-primary;
    }
  }
  .section-header--scroll {
    position: absolute;
    bottom: 0;
    margin: 5rem 0;
    background: none;
    color: $color-primary;
    font-size: 3rem;
    outline: none;
    border: none;
    i {
      transition: all 300ms;
    }
    &:hover {
      i {
        transform: translateY(25px);
      }
    }
  }
}

.section-contacts {
  /* TOP 1 ***********************************************/
  background-color: $color-basic;
  color: $color-middle;
  padding: 10px 0;
}
.contacts--title {
  margin-bottom: 0.5em;
}

.contact-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: center;
    margin: 0 0 1em 0;
    padding: 0;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 21px;

    color: $color-primary;
    border-color: $color-primary;
  }
  .text {
    display: flex;
    flex-direction: column;
  }
}

@import "responsive";

.btn-get-consultation {
  border: none;
  background: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 4rem 0;
  transform: translateX(-50%);
  color: #f87b27;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  transition: all 300ms;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  &:hover,
  &:focus,
  &:active,
  &:target {
    color: white;
    border-bottom: 2px solid #ffffff;
  }
}

.section-advantages {
  margin: 3rem 0;
  .box-content {
    min-height: 100px;
  }
  .icon-rounded-v2 {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    &::after {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      height: 54px;
      width: 54px;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: all 0.3s ease-in-out;
      background-color: #f87b27;
      top: 14px;
      left: 12px;
      z-index: -1;
    }
  }
}

.override-header {
  background: #2e363a;
  height: 100px;
}
